body{
    margin: 0;
    padding: 0;    
}

#progress{
    height: 3px;
    background: darkred;
    position: fixed;
    top: 0;
    opacity: 1;
    z-index: 1;    
    transition: width .1s ease;
}

#gallery{
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 50px;
    img{
        width: 100%;
        height: auto;
    }
}
.fadeOut{
    
    opacity: 0 !important;
    transition: opacity 2s ease !important;
}